@import url('https://fonts.googleapis.com/css2?family=Alice&family=Open+Sans:wght@300&display=swap');

:root{
    --azul-fundo: #1755ff;
    --height-nav: 80px;
    --font-size-nav: 25px;
    --bege-color: #fdfcfa;
    --box-shadow: #79797993;
    --azul-texto: #0033be;
}

*{
    padding: 0;
    margin: 0 auto;
}

body{
    font-family: "Open Sans";
    background-color: white;
}

nav{
    background-color: var(--azul-fundo);
    width: 100%;
    height: var(--height-nav);
    display: flex;
    flex-direction: row;
    margin: 0;
    align-items: center;
    box-shadow: 0px 3px 3px var(--box-shadow);
}

nav ul{
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-direction: row;
    list-style-type: none;
    height: var(--height-nav);
}

nav li{
    text-decoration: none;
    margin-top: 20px;
    flex-shrink: 5;
}

nav li a{
    text-decoration: none;
    color: var(--bege-color);
    font-size: var(--font-size-nav);
    padding: calc(var(--height-nav) - (var(--font-size-nav)*2) - 4px);
    justify-content: flex-end;
}

nav li a:hover{
    background-color: #00000041;
    transition: .8s;
    color: rgb(199, 199, 199);
}


nav li.logo{
    align-items: center;
    margin-top: 10px;
    font-size: 50px;
    margin-left: 40px;
    flex-shrink: 0;
    flex-grow: 2;
    justify-content: flex-start;
    text-align: start;
    color: white;
}

#entrar{
    cursor: pointer;
}

.dados{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 0;
    margin-top: 60px;
}

#card1{
    margin-right: -30px;
}

#card2{
    margin-left: -30px;
}

.card{
    text-align: center;
    max-width: 450px;
    text-align: center;
    align-items: center;
    margin: 80px;
    flex-grow: 0;
    max-height: 350px;
    margin-top: 0;
    flex-shrink: 0;
    margin-bottom: 0;
}

.card .textoCard{
    grid-area: texto;
    font-size: 40px;
    font-weight: 700;
    margin: 30px;
   
}

.card .numeroCard{
    grid-area: numero;
    font-size: 25px;
    color: rgba(128, 128, 128, 0.6);
    margin-bottom: 50px;
    font-weight: 700;
    
}

.card .iconCard{
    grid-area: icon;
    font-size: 120px;
    color: var(--azul-texto);
    margin-right: 50px;
}

.dadosGrid{
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "texto icon"
                         "numero icon";
    height: 80%;
    text-align: center;
    align-items: center;
    box-shadow: 0px 0px 5px var(--box-shadow);
    border-radius: 10px;
    background-color: var(--bege-color);
}

.dadosGrid:hover{
    box-shadow: 0px 0px 10px var(--box-shadow);
}


.informativo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 1000px;
}

.paragrafo{
    box-shadow: 0px 0px 5px var(--box-shadow);
    border-radius: 10px;
}

.paragrafo h1{
    margin: 30px;
    margin-bottom: 0;
}

.paragrafo p{
    margin: 30px;
    text-align: justify;
    margin-top: 10px;
}

#virus{
    margin-top: 50px;
}

footer{
    text-align: center;
    font-size: 13px;
    margin-top: 20px;
    color: grey;
}

/* modalLogin */

.modal-container{
    visibility: hidden;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, .5);
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 999;
    align-items: center;
    justify-content: center;
    display: flex;
}

.modal{
    background-color: white;
    width: 20%;
    min-width: 300px;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 5px black;
    height: 25%;
    min-height: 260px;
    flex-direction: column;
    display: flex;
    justify-content: center;
}

.modal h2{
    font-weight: 900;
    font-size: 30px;
    margin: 0;
    margin-bottom: 15px;
    color: var(--azul-fundo);
}

.modal form{
    margin: 0;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 20px;
}

.input-field{
    margin: 0;
    width: 100%;
    position: relative;
}

.input-field input{
    font-size: 20px;
    width: 95%;
    border-style: none;
    color: rgba(0, 0, 0, .7);
    margin: 10px 0;
    padding-left: 10px;
    outline: none;
}

.input-field:first-child{
    margin: 15px 0;
    margin-bottom: 30px;
}

#input-field2{
    margin-bottom: 10px;
}

.input-field .underline::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    bottom: 1px;
    background: grey;
}

.input-field .underline::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    bottom: 1px;
    background: var(--azul-fundo);
    transform: scaleX(0);
    transition: all .3s ease-in-out;
}

.input-field input:focus ~ .underline::after{
    transform: scaleX(1);
}

.modal form input[type = "button"]{
    margin-top: 30px;
    cursor: pointer;
    background-color: rgba(0, 38, 255, 0.678);
    width: 80%;
    height: 30px;
    border-style: none;
    border-radius: 4px;
    color: white;
}

.modal form input[type = "button"]:hover{
    background-color: rgba(0, 22, 119, 0.836);
    transition: 0.5s;
}

@keyframes modal{
    from{
        opacity: 0;
        transform: translate3d(0, -30px, 0)
    }to{
        opacity: 1;
        transition: translate3d(0, 0, 0);
    }
}

/* MEDIA */
@media (max-width: 1200px){

    .dadosGrid{
        width: 390px;
        height: 220px;
    }

    .card .textoCard{
        font-size: 30px;
    }

    .card .numeroCard{
        font-size: 20px;
    }

    .card .iconCard{
        font-size: 90px;
    }

    nav li a{
        font-size: calc(var(--font-size-nav) - 2px);
    }
    
    .informativo{
        margin-top: 50px;
        width: 880px;
    }
}

@media (max-width: 1000px){

    .dadosGrid{
        width: 320px;
        height: 200px;
    }

    .card .textoCard{
        font-size: 25px;
    }

    .card .numeroCard{
        font-size: 18px;
    }

    .card .iconCard{
        font-size: 80px;
    }

    .informativo{
        width: 740px;
    }
}

@media (max-width: 800px) {
    .dados{
        flex-wrap: wrap;
    }

    #card1{
        margin-right:-30px;
    }
    
    #card2{
        margin-left: 30px;
        margin-top: 50px;
    }
    
    nav li a{
        font-size: calc(var(--font-size-nav) - 4px);
        padding: calc(var(--height-nav) - (var(--font-size-nav)*2));
    }

    .dadosGrid{
        width: 390px;
        height: 220px;
    }

    .card .textoCard{
        font-size: 30px;
    }

    .card .numeroCard{
        font-size: 20px;
    }

    .card .iconCard{
        font-size: 90px;
    }

    .informativo{
        width: 500px;
    }
}

