@import url('https://fonts.googleapis.com/css2?family=Alice&family=Open+Sans:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body{
    background-color: rgb(240, 240, 240);
    margin: 0 auto;
}


nav{
    margin: 0 auto;
    background: rgb(24, 24, 187);
    color: white;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    max-width: 1000px; 
    text-align: right;
    box-shadow: 1px 1px 25px rgba(0, 0, 0, 0.6);
    align-items: center;
}


nav li{
    display: inline;
}

nav li.icon{
    float: left;
    font-size: 50px;
    padding-left: 15px;
    padding-top: 2px;
}

nav li a{
    color: white;
    text-decoration: none;
    padding: 20px;
    display: inline-block;
}

nav li a:hover{
    color: white;
    text-decoration: none;
    padding: 20px;
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.699);
    transition: .4s;
}

.cardBox{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    background-color: white;
    max-width: 1000px;
    position: relative;
    box-shadow: 1px 1px 25px rgba(0, 0, 0, 0.6);
    justify-content: center;
}   

.card{
    position: relative;
    background-color: white;
    padding: 50px;
    justify-content: space-between;
    display: flex;
}